/* make body stretch */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #f5e6e8;
}

/* A. Navbar */
.navbar {
    background-size: cover;

    color: #cfa98a;
    background-color: #39397a;
    padding: 0px 15%;
    margin: 0px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 1. left bar */
.leftBar {
    color: #decbb7;
    font-size: 45px;
}

/* 2. right bar */
ul {
    font-size: 28px;
    padding: 0px;
    margin: 0px;
    height: 50px;
    list-style-type: none;
    display: flex;
    gap: 70px;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* B. Hero */
.hero {
    height: 60vh;
    background-color: #39397a;
}

/* C. Content */
.content {
    margin-top: 50px;
    padding: 30px 15%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeContainer {
    display: flex;
    gap: 80px;
    align-items: center;
}

/* 1. CLOCK */
.clock {
    background-image: url("./resources/clock.png");
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.clock .hand {
    --rotation: 90;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 5px;
    height: 35%;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-30%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.minute {
    --rotation: 0;
    width: 5px;
    height: 35%;
    background-color: black;
}
.clock .hand.hour {
    width: 8px;
    height: 20%;
    background-color: black;
}

.timeItem {
    margin: 20px;
    width: 700px;
    border-radius: 20px;
    background-color: #f5e6e8;
    text-align: center;
    padding: 35px;
}

select {
    width: 80px;
    height: 30px;
}

/* 2. Button */
button.addButton {
    margin-top: 30px;
    background-color:  #d5c6e0;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
}

/* D. Tracker */
.tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5c6e0;
    height: 400px;
}

canvas {
    background-color: white;
}

/* E. Sleepathon */
#sleepathon {
    height: 300px;
    background-color: #AAA1C8;
}


/* F. Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
    height: 45px;
}




/* General */
a {
    text-decoration: none;
    color: #cfa98a;
}